/*
Eric Meyer's Css Reset | v.2.0 | http://meyerweb.com/eric/tools/css/reset/ | 2011-01-26 | License: none (public domain)
*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}

body {
	line-height: 1
}

ol, ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
}

.h2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
}

.h3, .h4 {
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
}

.font-xs {
	font-size: 12px;
	line-height: 12px;
}

/*
Simple 12 column grid system
*/

/* Rows and clearfixes */
.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

/* 12 column grid */
.col {
	display: block;
	float: left;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

/*
Margins
*/

.margin-sm {
	margin-bottom: 5px;
}

.margin-df {
	margin-bottom: 15px;
}

.margin-md {
	margin-bottom: 30px;
}

.margin-lg {
	margin-bottom: 60px;
}

/*
Body and Wrappers
*/
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	/* We are using mostly pt and cm for print purposes. */
	font-size: 14px;
	line-height: 18px;
	background-color: #fafafa;
	color: #000;
	position: relative;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

@page {
	/* Fallback sizes */
	width: 21cm;
	height: 29.7cm;
	/* Used in browsers that can handle size attribute. */
	size: A4 portrait;
	background: #ffffff;
	/* Some browsers print screen will ignore these margins. */
	margin: 1.3cm 1.2cm 0.8cm 1.2cm;
}

/* .desktop-wrapper - Used for desktop preview */
.editor-wrapper {
	width: 21cm;
	height: auto;
	margin: 1cm auto;
	border-radius: 5px;
	background: #ffffff;
	padding: 1.3cm 1.2cm 0.8cm 1.2cm;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
}
.desktop-wrapper {
	width: 21cm;
	min-height: 29.7cm;
	margin: 1cm auto;
	border-radius: 5px;
	background: #ffffff;
	padding: 1.3cm 1.2cm 0.8cm 1.2cm;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	position: relative;
}

/* Table data */
table,
thead,
tbody,
tfoot {
	width: 100%;
	height: auto;
	display: table;
}

tfoot tr,
tbody tr {
	line-height: 26px;
}

thead td,
tbody td,
tfoot td {
	width: 460px;
	padding: 0 10px;
	font-size: 14px;
}

/* Last two columns should be centered. */
thead td:nth-of-type(2),
thead td:nth-of-type(3),
tbody td:nth-of-type(2),
tbody td:nth-of-type(3),
tfoot td:nth-of-type(3){
	width: 100px;
	text-align: center;
}


thead td:nth-of-type(4),
tbody td:nth-of-type(4),
tfoot td:nth-of-type(4) {
	width: 200px;
	text-align: center;
}

tfoot td:nth-of-type(1) {
	text-align: left;
}

tfoot td:nth-of-type(2) {
	text-align: right;
}

thead {
	background: linear-gradient(to right, #7ADEF2, #63DBCF);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

thead tr {
	line-height: 32px;
}

thead td {
	font-weight: 700;
}

tbody tr:nth-of-type(even) {
	background-color: #f4f3f4;
}

tbody {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

tfoot td em,
tfoot td i {
	display: block;
	font-weight: 400;
	font-size: 6pt;
	font-style: italic;
	line-height: 8pt;
}

/*
Print specific styles
*/

@media print {

	body,
	.desktop-wrapper {
		margin: 0;
		box-shadow: none;
	}
	.editor-wrapper{
		display: none;
	}

}

/* Other */
.logo {
	width: 240px;
	height: auto;
	margin-bottom: 60px;
}

p span {
	display: block;
}

footer {
	width: 100%;
	text-align: center;
	position: absolute;
	right: 1cm;
	bottom: 1cm;
	left: 1cm;
}

label {
	display: block;
	padding: 0 15px 5px 0;
}

input[type="text"] {
	line-height: 1.6em !important;
}

textarea {
	min-height: 185px;
}

#invoiceFor {
	min-height: 100px;
}

input[type="text"], textarea {
	padding: 5px 10px;
	display: block;
	width: 95%;
	border-radius: 5px;
	border: 1px solid #ccc;
	line-height: 1.5em;
	outline: none;
}
